.single .breadcrum {
  margin: 1em 0;
  background: #eee;
}
.single .breadcrum ul {
  padding: 0px;
  margin: 0px;
}
.single .breadcrum ul li {
  list-style-type: none;
  float: left;
  padding: .5em;
}
.single .breadcrum :after {
  content: "";
  display: block;
  clear: both;
}
.single .header_gall {
  text-transform: uppercase;
}
.single .image_group .image-col {
  padding: 0px;
}
.single .image_group .image-col .image_gall {
  height: 200px;
  margin: .5em;
  overflow: hidden;
  position: relative;
}
.single .image_group .image-col .image_gall img {
  width: 100%;
  height: inherit;
  position: absolute;
  cursor: pointer;
}
.single .image_group .image-col .image_gall .image_dis {
  padding: 0.5em;
  transition: 300ms;
  cursor: pointer;
}
.single .image_group .image-col :hover .image_dis {
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.88);
}
